name: ENV Variables
on: push
env:
  WF_ENV: Available to all jobs

jobs:
  decrypt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Decrypt file
        run: gpg --quiet --batch --yes --decrypt --passphrase="$PASSPHRASE" --output $HOME/secrets.json secret.json.gpg 
        env: 
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: Print our file 'content-type
        run: cat $HOME/secrets.json 

  create_issue:
    runs-on: ubuntu-latest 
    permissions:
      issues: write 
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      - name: create a local change
        run: | 
          ls -a 
          echo $RANDOM >> random.txt
          ls -a
      - name: commit files
        run: |
          git config --global user.email "ldifer@gmail.com"
          git config --global user.name "DongL"
          git commit -m 'random number' -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}


      - name: Push a random file - not working 
        run: |
          pwd 
          ls -a 
          git init
          git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git config --global user.email "ldifer@gmail.com"
          git config --global user.name "DongL"
          # git remote -v
          git fetch
          git checkout master
          git branch -- set-upstream-to=origin/master
          git pull 
          ls -a 
          echo $RANDOM >> random.txt
          ls -a
          git add .
          git commit -m 'random number' 
          git push --set-upstream origin master
          # git push

      - name: Create issue using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_."
            }' \
          --fail  

  log-env: 
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Available to all steps in log-env job
    steps:
      - name: Log ENV Variables
        env: 
          STEP_ENV: Available to this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "WF_ENV: ${WF_ENVb}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
      - name: log EVN 2
        run: |
            echo "WF_ENV: ${WF_ENV}"
            echo "WF_ENV: ${WF_ENVb}"
            echo "JOB_ENV: ${JOB_ENV}"
            echo "STEP_ENV: ${STEP_ENV}"


  log-default-env:
    runs-on: ubuntu-latest
    steps:
      - name: Default ENV Variables
        env: 
          WF_ENV: ${{ secrets.WF_ENV }}
        run: |            
          echo "WF_ENV: ${WF_ENV}"  
          echo "WF_ENV: ${WF_ENVb}"  
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
          echo "HOME: ${HOME}"
          echo "GITHUB_ACTION: ${GITHUB_ACTION}"
          echo "GITHUB_ACTOR: ${GITHUB_ACTOR}"
          echo "GITHUB_URL: https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
